.auth-form {
  border: 1px solid #cbd5e0;
  padding: 3rem 2rem;
  border-radius: 10px;
}

.chakra-text a {
  color: #1da1f2;
}

.back-icon {
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.main-wrapper {
  height: calc(100vh - 115px);
}

.icon-block {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    font-size: 35px;
    color: #e2e8f0 !important;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.active-icon-block {
  background-color: #1a365d;

  svg {
    color: #fff !important;
  }
}

.subnavbar-username {
  color: #fff;
  font-weight: 500;
}

.spinner-container {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.Avatar {
  .avatar-wrapper {
    position: relative;
    cursor: pointer;

    input {
      height: 0;
      width: 0;
      opacity: 0;
    }
  }
  .avatar-overlay {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    z-index: 1;
  }
}
